<div class="jumbotron-fluid" style="background-image: url('assets/images/banner-bg.jpg'); color: white;">
    <div class="row">
        <div class="col-6 m-5">
    <h1 class="display-4">Exam Preparation </h1>
    <h1 class="display-4">Simplified</h1>
    <p class="lead">Learn, practice, analyse and improve</p>
    <hr class="my-4">
    <p></p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    
    <div class="col-4 ml-5" >
        <img class="img-fluid" src="assets/images/landing-page.png">
    </div>
    </div>
  </div>
<div style="text-align: center;">
  <h1 class="my-3">Everything You Need For Your Exam Preparation</h1>
  <div class="row">
      <div class="col-6">
        <div class="card">
            <div class="card-body" >Quiz</div>
          </div>
      </div>
      <div class="col-6">
        <div class="card">
            <div class="card-body">Preparetion Material</div>
          </div>
      </div>
      <div class="col-6">
        <div class="card">
            <div class="card-body">Subscribe Us!</div>
          </div>
      </div>
      <div class="col-6">
        <div class="card">
            <div class="card-body">Discussion Forum</div>
          </div>
      </div>
  </div>
  </div>


